$headerHeight: 85px;

.DemoTheme {
  padding: 24px;
  line-height: 2em;
  min-height: calc(100vh - #{$headerHeight});
  background-color: var(--common-background);
  color: var(--common-text-primary);

  ::selection {
    background-color: var(--common-selection-background);
    color: var(--common-selection-text);
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  &__theme-toggler {
    display: flex;
    align-items: center;
  }
}
