.SearchPage {
  &__form {
    margin: 40px auto;
    max-width: 900px;
  }

  &__results {
    padding: 40px;
  }
}

.SearchPage-form {
  padding: 0 40px;

  &__advanced-item {
    margin: 0.5em 0;
  }

  &__search {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    input {
      flex-grow: 1;
      margin: 0 10px;
    }
  }
}

.SearchPage-advanced-item {
  display: flex;
  max-width: 600px;

  label {
    display: inline-block;
    width: 250px;
  }

  *:last-child {
    flex-grow: 1;
  }
}

.SearchPage-results {
  &__list-item {
    border-top: 1px solid #e1e4e8;
  }
}

.SearchPage-result-item {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  line-height: 1.5em;

  &__icon {
    flex-shrink: 0;
    padding-top: 4px;
    padding-right: 4px;
  }

  &__meta-info {
    color: #586069;
    font-size: 12px;
  }

  &__description {
    padding: 6px 0;
  }
}

.SearchPage-topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  color: #0366d6;
  text-decoration: none;
}
