.DemoForm {
  margin: 64px auto 24px;
  max-width: 1024px;
  line-height: 1.5em;

  &__item {
    margin: 8px 0;

    label {
      display: inline-block;
      width: 200px;
    }
  }

  &__submit {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  &__input {
    height: 24px;
    width: 400px;
  }

  &__button {
    height: 32px;
    width: 200px;
  }

  &__icon-sync {
    margin-left: 12px;
    font-size: 24px;
    animation: DemoForm-spinner 1.2s linear infinite;
  }

  &__field-error {
    margin-left: 12px;
    display: inline-block;
    color: #db0303;
  }

  &__general-error {
    color: #db0303;
  }
}

@keyframes DemoForm-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
