.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #24292e;
  padding: 16px 16px;

  &__icon {
    font-size: 32px;
    color: white;

    &--logout {
      margin-left: 12px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  &__search-input {
    margin-right: 16px;
  }

  &__link {
    color: #fff;

    &--icon {
      margin-right: 16px;
    }
  }

  &__right-panel {
    margin-left: auto;
    display: flex;
  }

  &__login {
    margin: 0 12px;
    color: #fff;
  }
}
