.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 25px;
  background-color: #3c4146;
  border-bottom-color: #202326;
  z-index: 1; // TODO

  &__icon {
    font-size: 32px;
    color: white;

    &--logout {
      margin-left: 12px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  &__search-input {
    margin-right: 16px;
  }

  &__link {
    color: #fff;

    & + & {
      margin-left: 10px;
    }

    &--icon {
      margin-right: 16px;
    }
  }

  &__right-panel {
    margin-left: auto;
    display: flex;
  }

  &__login {
    margin: 0 12px;
    color: #fff;
  }
}
