.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #24292e;
  padding: 16px 16px;

  &__icon {
    font-size: 32px;
    color: white;
  }

  &__search-input {
    margin-right: 16px;
  }

  &__link {
    color: white;

    &--icon {
      margin-right: 16px;
    }
  }

  &__lang-toggler {
    margin-left: auto;
  }
}
