.GraphqlExplorer {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__panel {
    flex-basis: 1px;
    flex-grow: 1;

    &--left {
      border-right: 2px solid #000;
    }
  }

  &__code {
    position: relative;
    background-color: #fff;

    &--res {
      height: 100%;
    }
  }

  &__control-icon {
    cursor: pointer;
    font-size: 32px;
  }

  &__controls {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
  }

  &__pre {
    border: 1px solid #cacaca;
    line-height: 1.4em;
    padding: 10px;
    overflow: auto;
    border-radius: 3px;
    background-color: #fafafb;
    color: #393939;
    // margin: 2em 0;
  }
}
